<!doctype html>
<html>
  <head>
    <link charset="utf-8" href="/stylesheets/application.css" media="all" rel="Stylesheet" type="text/css">
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
